// Variables
@import 'variables';

.btn-upload {
    font-weight: 700;

    &::before {
        font-family: $font-font-awesome;
        content: "\f35b";
        font-weight: 900;
        font-size: 1.2rem;
        margin-right: .25rem;
    }
}
