// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Custom Bootstrap additions
@import 'custom';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Custom Sass
@import 'layout';
@import 'timetable';
@import 'buttons';

// div {
//     -webkit-user-select: none; /* Safari 3.1+ */
//     -moz-user-select: none; /* Firefox 2+ */
//     -ms-user-select: none; /* IE 10+ */
//     user-select: none; /* Standard syntax */
// }


#container-home,
#container-calendar {
    padding: 0;
}


#section-page-description {
    text-align: center;
    padding: 2rem 3rem 1rem 3rem;
}

.page-description-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.step-2 {
    display: none;
}

.form-file {
    display: none;
}
