// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Custom Bootstrap additions
@import 'custom';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

$primary: #1e2f34;
$secondary: #287ada;
$success: #67ab24;
$danger: #bc1a1a;
$warning: #f1bf61;

// Custom Sass
@import 'timetable';
