:root {
    --clr-primary: #1e2f34;
    --clr-secondary: #287ada;

    --clr-background: #192326;

    --clr-background-light: #344e57;
    --clr-background-light-hover: #50717c;
    --clr-background-light-active: var(--clr-background-light-hover);
    --clr-background-light-accent: #3d5c66;

    --clr-background-dark: #11171a;


    --clr-black: #000;
    --clr-gray-90: #1a1a1a;
    --clr-gray-80: #333;
    --clr-gray-70: #4d4d4d;
    --clr-gray-60: #666;
    --clr-gray-50: #808080;
    --clr-gray-40: #999;
    --clr-gray-30: #b3b3b3;
    --clr-gray-20: #ccc;
    --clr-gray-10: #e6e6e6;
    --clr-gray-7p5: #ececec;
    --clr-gray-5: #f2f2f2;
    --clr-white: #fff;

    --clr-green-soft: #67ab24;
    --clr-yellow-soft: #ebc23b;
    --clr-red-soft: #bc1a1a;

    --clr-brand: #ffb600;

    --clr-background-botNav: #ddd;

    --clr-section-h3: #5baabd;

    --clr-rand-profile-1: var(--clr-green-soft);
    --clr-rand-profile-2: var(--clr-red-soft);
    --clr-rand-profile-3: var(--clr-brand);
    --clr-rand-profile-4: var(--clr-secondary);

    --clr-topNav-icon: #588b9a;

    --br-burger-menu: 4px;

    --font-primary: 'Montserrat';
}

body {
    color: var(--clr-gray-7p5);
    background-color: var(--clr-background);
    margin-bottom: 50px;
    -webkit-font-smoothing: antialiased;
}

i {
    position: relative;
}

main .container-fluid {
    padding: 0;
}

section {
    padding: 2rem 1rem;
}

section ~ section {
    border-top: 10px solid var(--clr-background-dark);
}

section h3 {
    color: var(--clr-section-h3);
    font-weight: 600;
    font-size: .9rem;
    font-family: var(--font-primary);
}
