body {
    color: var(--clr-gray-7p5);
    background-color: var(--clr-background);
    margin-bottom: 50px;
    -webkit-font-smoothing: antialiased;
}

i {
    position: relative;
}

main .container-fluid {
    padding: 0;
}

section {
    padding: 2rem 1rem;
}

section ~ section {
    border-top: 10px solid var(--clr-background-dark);
}

section h3 {
    color: var(--clr-section-h3);
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.1rem;
}

.acquaintances-actions {
    margin-left: auto;
}

.acquaintances-actions i {
    font-size: 1.2rem;
    margin-left: 1.25em;
    color: inherit;
    cursor: pointer;
}

.acquaintances-actions input[type="checkbox"] {
    display:none;
}

.acquaintances-actions input[type=checkbox]:checked + label {
    color: var(--clr-green-soft);
}

section#timetable table {
    text-align: center;
    border-spacing: 5px;
    border-collapse: separate;
}

section#timetable th {
    padding: 1rem .5rem;
    font-weight: 400;
}

section#timetable td {
    font-weight: 900;
    padding: .4em .5em;
    border-radius: 2px;
}

section#timetable td.check,
section#timetable td.unkown,
section#timetable td.x {
    font-family: "Font Awesome 6 free";
}

section#timetable td.check::before {
    content: '\f00c';
}

section#timetable td.check {
    background-color: var(--clr-green-soft);
}

section#timetable td.unkown::before {
    content: '\3f';
}

section#timetable td.unkown {
    color: #a57214;
    background-color: #f1bf61;
    font-size: 1.1em;
}

section#timetable td.x::before {
    content: '\f00d';
}

section#timetable td.x {
    background-color: var(--clr-red-soft);
}

section#timetable table tbody td.timeTableUser {
    position: sticky;
    left: 0;
    z-index: 1;
    text-align: left;
    min-width: 130px;
    background-color: var(--clr-background-light);/*rgba(255, 255, 255, 0.2);*/
}

section#timetable .isStuck {
    color: var(--clr-gray-20);
}

section#timetable .isStuck ~ tr{
    padding: 0;
}

section#timetable table .day {
    font-size: 1.5em;
    font-weight: 600;
}

#topNav {
    background-color: var(--clr-primary);
    justify-content: center;
    padding: .75rem .1rem;
    color: var(--clr-gray-7p5);
    z-index: 1000;
}

#topNav a {
    text-decoration: none;
    color: inherit;
}

#topNav a i {
    font-size: 1.45em;
}

.burger {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--clr-gray-7p5);
    margin: 2px 0;
}

#botNav {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .125);
    padding: .5em 0 .2em 0;
    background-color: var(--clr-background-botNav);
    z-index: 1000;
}

#botNav .row,
#ticketNavContainer .row {
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#botNav a {
    font-size: .6rem;
    color: var(--clr-gray-70);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#botNav .col,
.settings-card .row {
    background-position: center;
    transition: background .8s;
}

#botNav .col:hover,
.settings-card .row:hover {
    background: var(--clr-gray-20) radial-gradient(circle, transparent 1%, var(--clr-background-botNav) 1%) center/15000%;
}

#botNav .col:active,
.settings-card .row:active {
    background-color: var(--clr-gray-20);
    background-size: 100%;
    transition: background 0s;
}

#botNav i {
    font-size: 1.3rem;
}

#botNav a.active {
    color: var(--clr-secondary);
}

#botNav .hasNotification::after {
    --diameter: 6px;
    position: absolute;
    content: '';
    top: -2px;
    right: 0;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background-color: rgb(211, 29, 29);
    outline: 2px solid var(--clr-background-botNav);
}

#ticketNavContainer {
    background-color: var(--clr-primary);
    padding: .8em 0;
}

#ticketNavContainer a {
    color: var(--clr-gray-10);
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#ticketNavContainer .col ~ .col::before {
    --clr-vert-lines: #649cae;
    content: '';
    position: absolute;
    height: 35px;
    top: 50%;
    margin-left: calc(var(--bs-gutter-x) * -0.5);
    transform: translateY(-50%);
    border-left: 2px solid var(--clr-vert-lines);
    opacity: .5;
}

#ticketNavContainer div.active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 10px;
    left: -30px;
    bottom: 0;
    border-bottom-right-radius: 8px;
    box-shadow: 11px 0 0 0 var(--clr-primary);
}

#ticketNavContainer div.active {
    top: -33px;
    position: absolute;
    width: 70%;
    height: 23px;
    background-color: var(--clr-primary);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: var(--clr-gray-10);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
}

#ticketNavContainer div.active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 10px;
    right: -30px;
    bottom: 0;
    border-bottom-left-radius: 8px;
    box-shadow: -11px 0 0 0 var(--clr-primary);
}

#ticketNavContainer .hasNotification::after {
    --diameter: 9px;
    position: absolute;
    content: '';
    top: -2px;
    right: 0;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background-color: rgb(211, 29, 29);
    outline: 4px solid var(--clr-primary);
}

.profile-card,
.settings-card {
    position: relative;
    padding: 1rem 1.5rem;
}

.settings-card {
    font-size: 1.2rem;
}

.profile-card::after {
    content: '';
    position: absolute;
    background-color: var(--clr-gray-70);
    left: 0;
    bottom: 0;
    height: 7px;
    width: 100vw;
}

.settings-card a {
    color: inherit;
    text-decoration: none;
}

.settings-card .row {
    padding: .65rem 0;
}

.settings-card .row {
    position: relative;
}

.settings-card .row::after {
    content: '';
    position: absolute;
    left: 45px;
    bottom: 0;
    height: 1px;
    width: calc(100% - 30px);
    background-color: var(--clr-gray-30);
}

@keyframes fadein {
    from { opacity: .2}
    to   { opacity: 1}
}

/* ================================================================
 *
 *      Temporary - Delete later !
 *
 * ================================================================
 */

.glide__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider__bullets {
    bottom: -1em !important;
}

.glide__bullets {
    z-index: -1 !important;
}
